<div>
  <div class="jumbotron" style="background-color:#D1D1E0;">
    <h1 class="text-center">
      CRONOGRAMA DA DISCIPLINA
    </h1>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>AULA</th>
        <th>DATA</th>
        <th>NOME</th>
        <th>DESCRIÇÃO</th>
      </tr>
  </thead>
    <tbody>
      <tr ng-repeat="aula in cronograma">
        <td class="align-middle">{{aula.itemid}}</td>
        <td class="align-middle">{{aula.liberacao}}</td>
        <td class="align-middle">{{aula.nome}}</td>
        <td class="align-middle">
          <p>{{aula.descricao}}<p>
          <p>{{aula.links}}</p>
          <p>Monitores: {{aula.monitores}}</p>
          </td>
      </tr>
    </tbody>
  </table>
</div>
