<div class="jumbotron" style="background-color:#660066;">
  <h1 class="text-center text-white">
    PROGRAMAÇÃO FUNCIONAL
  </h1>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 text-justify">
    <h1 class="text-center">Informações Gerais</h1>
      <p>Seja bem-vindo à página da disciplina Programação Funcional do curso
        de Ciência da Computação da UFCG.
      No semestre 2017.2, a disciplina será ministrada pelo professor
       <a href="https://sites.google.com/site/adalbertocajueiro/">Adalberto Cajueiro</a>.
      A disciplina tem como pré-requisito Paradigmas de Linguagens de Programação.
      </p>


      <p><b>Horário:</b> SEG 16:00 - 18:00, QUI 14:00 - 16:00 </p>
      <p><b>Local:</b> RE-04 </p>

      <p>
        Os interessados estão sendo capturados através
        <a href="https://goo.gl/forms/3kEejCVxmUmqLbUf2">deste formulário</a>. Isso
        representa apenas uma intenção do aluno em cursar a disciplina. O aluno que
        quiser realmente cursar DEVE fazer sua matrícula normalmente.
        Nesta página você encontrará diversas informações sobre a disciplina tais como:
        horário de aulas, objetivos, monitores, dicas, planos de aulas, material das aulas, sistema de avaliação adotado e avisos importantes.
      </p>
      <p>Acompanhe sua nota.</p>

    </div>

    <div class="col-sm-4">
      <div>
        <h1 class="text-center">Avaliação</h1>
        <p>A disciplina constará de 3 avaliações: duas escritas e um projeto a ser definido durante o semestre.</p>
      </div>
      <div>
        <h1 class="text-center">Grupo</h1>
        <p>
          Solicite sua inscrição no <a href="https://groups.google.com/a/computacao.ufcg.edu.br/forum/?hl=pt-BR#!forum/programacao-funcional">
          grupo da disciplina</a>. O grupo serve para discussões e postagens de avisos sobre a disciplina.
        </p>
      </div>
    </div>
    </div>
  </div>

</div>
