<table class="table table-striped">
  <thead>
    <tr>
      <th>AULA</th>
      <th>DATA</th>
      <th>NOME</th>
      <th>DESCRIÇÃO</th>
    </tr>
</thead>
  <tbody>
    <tr *ngFor="let aula of cronograma">
      <td class="align-middle"><b>{{aula.itemid}}</b></td>
      <td class="align-middle">{{aula.liberacao}}</td>
      <td class="align-middle">{{aula.nome}}</td>
      <td class="align-middle">
        <p>{{aula.descricao}}<p>
        <p><i>{{aula.links}}</i></p>
        <p><b>Monitores:</b> {{aula.monitores}}</p>
        </td>
    </tr>
  </tbody>
</table>
